@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-green: #a9e6c2;
  --dark-green: #2d757c;
  --light-brown: #f5f3eb;
  --light-gray: #00000033;
  --red: #ff6961;
}

* {
  font-family: inter;
  user-select: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 20px;
  background-clip: padding-box;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px var(--light-gray);
}

.word-in {
  animation-name: word-anim-in;
  animation-duration: 0.5s;
}

@keyframes word-anim-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.logo-breath {
  animation-name: logo-breath-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes logo-breath-anim {
  0% {
    scale: 1;
    rotate: 0deg;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
    rotate: 360deg;
  }
}

.dot-typing {
  position: relative;
  left: -9999px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: var(--dark-green);
  color: var(--dark-green);
  box-shadow: 9984px 0 0 0 var(--dark-green), 9999px 0 0 0 var(--dark-green),
    10014px 0 0 0 var(--dark-green);
  animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 var(--dark-green), 9999px 0 0 0 var(--dark-green),
      10014px 0 0 0 var(--dark-green);
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 var(--dark-green),
      9999px 0 0 0 var(--dark-green), 10014px 0 0 0 var(--dark-green);
  }
  33.333% {
    box-shadow: 9984px 0 0 0 var(--dark-green), 9999px 0 0 0 var(--dark-green),
      10014px 0 0 0 var(--dark-green);
  }
  50% {
    box-shadow: 9984px 0 0 0 var(--dark-green),
      9999px -10px 0 0 var(--dark-green), 10014px 0 0 0 var(--dark-green);
  }
  66.667% {
    box-shadow: 9984px 0 0 0 var(--dark-green), 9999px 0 0 0 var(--dark-green),
      10014px 0 0 0 var(--dark-green);
  }
  83.333% {
    box-shadow: 9984px 0 0 0 var(--dark-green), 9999px 0 0 0 var(--dark-green),
      10014px -10px 0 0 var(--dark-green);
  }
  100% {
    box-shadow: 9984px 0 0 0 var(--dark-green), 9999px 0 0 0 var(--dark-green),
      10014px 0 0 0 var(--dark-green);
  }
}
