@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-green: #a9e6c2;
  --dark-green: #2d757c;
  --light-brown: #f5f3eb;
  --light-light-green: rgba(169, 230, 194, 0.2);
  --light-gray: #00000033;
  --red: #ff6961;
  --yellow: #f0ad4e;
}

* {
  font-family: inter;
  /* user-select: none; */
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 20px;
  background-clip: padding-box;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px var(--light-gray);
}

.loader {
  position: relative;
  width: 108px;
  display: flex;
  justify-content: space-between;
}
.loader::after,
.loader::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: var(--light-brown);
  background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
  background-repeat: no-repeat;
  border-radius: 50%;
  border: #000 1px solid;
  animation: eyeMove 8s infinite, blink 8s infinite;
}

.text-shadow {
  text-shadow: 0 3px 8px rgba(77, 243, 255, 0.2);
}

/* .box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #1cd8d2 0%, #a9e6c2 100%);
  transform: translate3d(0px, 20px, 0) scale(0.3);
  filter: blur(500px);
  opacity: var(0.2);
  transition: opacity 0.3s;
  border-radius: inherit;
} */

@keyframes eyeMove {
  0%,
  10% {
    background-position: 0px 0px;
  }
  13%,
  40% {
    background-position: -15px 0px;
  }
  43%,
  70% {
    background-position: 15px 0px;
  }
  73%,
  90% {
    background-position: 0px 15px;
  }
  93%,
  100% {
    background-position: 0px 0px;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}

@keyframes blink {
  0%,
  10%,
  12%,
  20%,
  22%,
  40%,
  42%,
  60%,
  62%,
  70%,
  72%,
  90%,
  92%,
  98%,
  100% {
    height: 48px;
  }
  11%,
  21%,
  41%,
  61%,
  71%,
  91%,
  99% {
    height: 18px;
  }
}

h1 {
  @apply text-4xl;
  @apply font-bold;
}
h2 {
  @apply text-3xl;
  @apply font-bold;
}
h3 {
  @apply text-2xl;
  @apply font-bold;
}
h4 {
  @apply text-xl;
  @apply font-semibold;
}
h5 {
  @apply text-lg; /*or text-lg */
  @apply font-semibold;
}
h6 {
  @apply text-sm;
  @apply font-semibold;
}

.word-in {
  animation-name: word-anim-in;
  animation-duration: 0.5s;
}

.dashboard .rbc-toolbar {
  margin: 0;
}

@keyframes word-anim-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.logo-breath {
  animation-name: logo-breath-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes logo-breath-anim {
  0% {
    scale: 1;
    /* rotate: 0deg; */
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
    /* rotate: 360deg; */
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--dark-green);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--dark-green) transparent transparent transparent;
}

iframe {
  display: none;
}

.tox-tinymce iframe {
  display: block;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dot-typing {
  position: relative;
  left: -9999px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: var(--dark-green);
  color: var(--dark-green);
  box-shadow: 9984px 0 0 0 var(--dark-green), 9999px 0 0 0 var(--dark-green),
    10014px 0 0 0 var(--dark-green);
  animation: dot-typing 1.5s infinite linear;
}

.sh {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 var(--dark-green), 9999px 0 0 0 var(--dark-green),
      10014px 0 0 0 var(--dark-green);
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 var(--dark-green),
      9999px 0 0 0 var(--dark-green), 10014px 0 0 0 var(--dark-green);
  }
  33.333% {
    box-shadow: 9984px 0 0 0 var(--dark-green), 9999px 0 0 0 var(--dark-green),
      10014px 0 0 0 var(--dark-green);
  }
  50% {
    box-shadow: 9984px 0 0 0 var(--dark-green),
      9999px -10px 0 0 var(--dark-green), 10014px 0 0 0 var(--dark-green);
  }
  66.667% {
    box-shadow: 9984px 0 0 0 var(--dark-green), 9999px 0 0 0 var(--dark-green),
      10014px 0 0 0 var(--dark-green);
  }
  83.333% {
    box-shadow: 9984px 0 0 0 var(--dark-green), 9999px 0 0 0 var(--dark-green),
      10014px -10px 0 0 var(--dark-green);
  }
  100% {
    box-shadow: 9984px 0 0 0 var(--dark-green), 9999px 0 0 0 var(--dark-green),
      10014px 0 0 0 var(--dark-green);
  }
}

.tooltip-div:hover .tooltip {
  visibility: visible;
}

.tooltip {
  visibility: hidden;
}

/* Calendar styling */

/* .rbc-calendar {
  border:  1px solid;
  border-radius: 0.5rem;
}

.rbc-row {
  display: flex;
  justify-content: space-between;
}

.rbc-active {
  background-color: var(--dark-green);
}

.rbc-date-cell {
  justify-content: center;
  position: relative;
} */

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  /* -webkit-appearance: button; */
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rbc-calendar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.rbc-row-bg > :first-child {
  background-color: #e6e6e6;
  cursor: auto;
}

.rbc-row-segment {
  background-color: transparent;
}

.rbc-ellipsis,
.rbc-show-more,
.rbc-row-segment .rbc-event-content,
.rbc-event-label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: #999999;
}

.rbc-off-range-bg {
  background: #e6e6e6;
}

.rbc-header {
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;

  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  min-height: 0;
  /* added */
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.rbc-header + .rbc-header {
  /* added */
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
.rbc-rtl .rbc-header + .rbc-header {
  border-left-width: 0;
  /* added */
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}
.rbc-header > a,
.rbc-header > a:active,
.rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-button-link {
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  transition: all;
  transition-duration: 300ms;
}
.rbc-button-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: underline;
}
.rbc-row-content {
  position: relative;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.rbc-row-content-scrollable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.rbc-row-content-scrollable .rbc-row-content-scroll-container {
  height: 100%;
  overflow-y: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.rbc-row-content-scrollable
  .rbc-row-content-scroll-container::-webkit-scrollbar {
  display: none;
}

/* .rbc-today {
  background-color: var(--light-green);
  z-index: 5;
} */

.rbc-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 0.75rem;
}
.rbc-toolbar .rbc-toolbar-label {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
  /* added */
  width: 300px;
  font-weight: 800;
}
.rbc-toolbar button {
  color: #000;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0.375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-image: none;
  color: var(--light-brown);
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}
.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
  color: var(--light-brown);
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}
/* .rbc-toolbar button:focus {
  color: var(--light-brown);
  background-color: var(--dark-green);
  border-color: var(--dark-green);
} */
.rbc-toolbar button {
  transition: all ease-in-out;
  transition-duration: 300ms;
}
.rbc-toolbar button:hover {
  color: var(--light-brown);
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}

.rbc-btn-group {
  display: flex;
  gap: 0.9px;
  /* added */
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.75rem;
}

.rbc-btn-group > button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0.75rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0.75rem;
}
.rbc-btn-group > button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0.75rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.75rem;
}
.rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc-btn-group > button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.rbc-btn-group button + button {
  margin-left: -1px;
}
.rbc-rtl .rbc-btn-group button + button {
  margin-left: 0;
  margin-right: -1px;
}
.rbc-btn-group + .rbc-btn-group,
.rbc-btn-group + button {
  margin-left: 10px;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.rbc-slot-selecting .rbc-event,
.rbc-slot-selecting .rbc-day-slot .rbc-background-event,
.rbc-day-slot .rbc-slot-selecting .rbc-background-event {
  cursor: inherit;
  pointer-events: none;
}
/* .rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: #265985;
}
.rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
  outline: 5px auto #3b99fc;
} */

.rbc-event {
  transition: all;
  transition-duration: 300ms;
}

.rbc-event:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.rbc-event-label {
  font-size: 80%;
}

.rbc-event-overlaps {
  -webkit-box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rbc-row-segment {
  padding: 0 1px 1px 1px;
}
.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1);
}

.rbc-show-more {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  font-weight: bold;
  font-size: 85%;
  height: auto;
  line-height: normal;
  color: var(--dark-green);
}
.rbc-show-more:hover,
.rbc-show-more:focus {
  color: #265985;
}

.rbc-month-view {
  position: relative;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  width: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  height: 100%;

  /* added */
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
}

.rbc-month-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rbc-month-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  -ms-flex-preferred-size: 0px;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%;
}
.rbc-month-row + .rbc-month-row {
  /* added */
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.rbc-date-cell {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  min-width: 0;
  padding-right: 5px;
  text-align: right;
  /* added */
  z-index: 1;
}

.rbc-date-cell.rbc-now {
  font-weight: bold;
}
.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  overflow: hidden;
}

.rbc-day-bg {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  cursor: pointer;
  z-index: 1;
}

.rbc-day-bg:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all;
  transition-duration: 300ms;
}
.rbc-day-bg + .rbc-day-bg {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.rbc-overlay > * + * {
  margin-top: 1px;
}

.rbc-overlay-header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin: -10px -10px 5px -10px;
  padding: 2px 10px;
}

.rbc-agenda-view {
  border: 2px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  overflow: auto;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.rbc-agenda-view table.rbc-agenda-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  /* height: 624px; */
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
}
.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
.rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}
.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  text-align: right;
}

.rbc-agenda-time-cell {
  text-transform: lowercase;
}
.rbc-agenda-time-cell .rbc-continues-after:after {
  content: " »";
}
.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: "« ";
}

.rbc-agenda-date-cell {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}

.rbc-agenda-event-cell {
  width: 100%;
}

.rbc-time-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.rbc-time-column .rbc-timeslot-group {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.rbc-timeslot-group:nth-child(7) {
  border-bottom: 2px solid transparent;
}

.rbc-timeslot-group {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.rbc-time-column .rbc-events-container .rbc-event {
  margin: 5px;
}

.rbc-time-gutter,
.rbc-header-gutter {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.rbc-label {
  padding: 0 5px;
}

/* .rbc-time-header .rbc-label {
    border-right: 2px solid rgba(0, 0, 0, 0.2);
  } */

.rbc-day-slot {
  position: relative;
}
.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 0;
}
.rbc-day-slot .rbc-events-container.rbc-rtl {
  left: 10px;
  right: 0;
}
.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border: 2px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  min-height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}
.rbc-day-slot .rbc-background-event {
  opacity: 0.75;
}
.rbc-day-slot .rbc-event-label {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  padding-right: 5px;
  width: auto;
}
.rbc-day-slot .rbc-event-content {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}
/* .rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f7;
} */

.rbc-time-view {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
  position: sticky;
  left: 0;
  background-color: white;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  z-index: 10;
  margin-right: -1px;
}
.rbc-time-view-resources .rbc-time-header {
  overflow: hidden;
}
.rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  -ms-flex-preferred-size: 0px;
  flex-basis: 0px;
}
.rbc-time-view-resources .rbc-time-header-cell-single-day {
  display: none;
}
.rbc-time-view-resources .rbc-day-slot {
  min-width: 140px;
}
.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
  width: 140px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  -ms-flex-preferred-size: 0 px;
  flex-basis: 0 px;
}

.rbc-time-header-content + .rbc-time-header-content {
  margin-left: -1px;
}

.rbc-time-slot {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}
.rbc-time-slot {
  border-bottom: 2px solid transparent;
}
.rbc-time-slot.rbc-now {
  font-weight: bold;
}

.rbc-day-header {
  text-align: center;
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 75%;
  width: 100%;
  padding: 3px;
}

.rbc-slot-selecting {
  cursor: move;
}

.rbc-time-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  min-height: 0;
}
.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
  text-align: right;
}
.rbc-time-view .rbc-allday-cell {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
}
.rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
  border-left: 1px solid #ddd;
}
.rbc-time-view .rbc-allday-events {
  position: relative;
  z-index: 4;
}
.rbc-time-view .rbc-row {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 20px;
}

.rbc-time-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #ddd;
}
.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid #ddd;
}
.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid #ddd;
}
.rbc-time-header > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid #ddd;
}

.rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-header-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  /* border-right: 2px solid rgba(0, 0, 0, 0.2); */
}
.rbc-rtl .rbc-time-header-content {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}
.rbc-time-header-content > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid #ddd;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.rbc-time-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
.rbc-time-content > .rbc-time-gutter {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
.rbc-time-content > * + * > * {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}
.rbc-time-content > .rbc-day-slot {
  width: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #74ad31;
  pointer-events: none;
}

.rbc-month-view
  > .rbc-month-row:last-child
  > .rbc-row-bg
  > .rbc-day-bg:first-child {
  border-bottom-left-radius: 0.75rem;
}

.rbc-allday-cell .rbc-row-bg {
  border-top-right-radius: 0.75rem;
}

.rbc-toolbar .rbc-btn-group button:nth-child(2) {
  border-left: none;
  border-right: none;
}

/* .rbc-toolbar .rbc-btn-group:nth-child(3) button:nth-child(3) {
  border-right: none;
} */

.rbc-header .rbc-button-link {
  margin-bottom: 28px;
}

.rbc-date-cell .rbc-button-link {
  position: absolute;
  height: 110px;
  width: 124px;
  display: flex;
  justify-content: end;
  top: -5px;
  padding-top: 5px;
  padding-right: 5px;
}

.rbc-row-content {
  padding-top: 22px;
  position: relative;
}

.rbc-show-more {
  padding: 0px 3px;
  font-size: 12px;
}

.second-calendar .rbc-btn-group,
.second-calendar .rbc-toolbar-label {
  display: none;
}

.sos-calendar .rbc-agenda-table .rbc-agenda-time-cell,
.sos-calendar .rbc-agenda-table .rbc-agenda-date-cell,
.sos-calendar tr th:nth-child(1),
.sos-calendar tr th:nth-child(2) {
  display: none;
}

.sos-calendar .rbc-agenda-table .rbc-agenda-time-cell {
  display: none;
}

.sos-calendar .rbc-header,
.sos-calendar .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 0;
}

.sos-calendar .sos-cancel,
.regular-calendar .sos-cancel {
  border-color: var(--red);
  border-width: 2px;
  cursor: pointer;
}

.sos-calendar .sos-cancel:hover,
.regular-calendar .sos-cancel:hover {
  background-color: transparent;
  color: var(--red);
  transition-duration: 300ms;
  transition-property: all;
}

.sos-calendar .sos-complete,
.regular-calendar .sos-complete {
  border-color: var(--dark-green);
  border-width: 2px;
  cursor: pointer;
}

.sos-calendar .sos-complete:hover,
.regular-calendar .sos-complete:hover {
  background-color: transparent;
  color: var(--dark-green);
  transition-duration: 300ms;
  transition-property: all;
}

.sos-calendar .sos-upcoming-2,
.regular-calendar .sos-upcoming-2 {
  border-color: var(--light-green);
  border-width: 2px;
  cursor: pointer;
}

.sos-calendar .sos-upcoming-2:hover,
.regular-calendar .sos-upcoming-2:hover {
  background-color: transparent;
  color: var(--light-green);
  transition-duration: 300ms;
  transition-property: all;
}

.sos-calendar .sos-upcoming-1,
.regular-calendar .sos-upcoming-1 {
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
  cursor: pointer;
}

.sos-calendar .sos-upcoming-1:hover,
.regular-calendar .sos-upcoming-1:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.2);
  transition-duration: 300ms;
  transition-property: all;
}

.sos-calendar .sos-pending,
.regular-calendar .sos-pending {
  border-color: var(--yellow);
  border-width: 2px;
  cursor: pointer;
}

.sos-calendar .sos-pending:hover,
.regular-calendar .sos-pending:hover {
  background-color: transparent;
  color: var(--yellow);
  transition-duration: 300ms;
  transition-property: all;
}

/*# sourceMappingURL=react-big-calendar.css.map */
